.DHR__TitleHome-Title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.DHR__TitleHome-Title h1 > span {
  font-size: 5rem;
  color: var(--yellow);
  font-family: "Lobster", cursive;
}

.Typewriter__wrapper {
  font-size: 5rem;
  color: var(--yellow);
  font-family: "Lobster", cursive;
  display: inline-block;
}
