.DHR__NavBar {
  position: absolute;
  width: 85%;
  margin: 9rem 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.DHR__NavBar-Logo {
  max-width: 6rem;
  max-height: 6rem;
  animation: SPIN 4s;
  transition: transform 2s ease-in-out;
}

.DHR__NavBar-Logo:hover {
  transform: rotate(360deg);
}

.DHR__NavBar-Bars {
  height: 3rem;
  width: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
}

@keyframes SPIN {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes HundredPercentFull {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes SixtyFivePercentFull {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

/* -- Social Links --*/
.DHR__NavBar-Social_Links > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.DHR__NavBar-Social_Links > ul > li {
  list-style-type: none;
}

.DHR__NavBar-Social_Links > ul > li > a {
  margin: 1rem;
  font-size: 2.4rem;
  text-decoration: none;
  transition: color 0.3s ease 0s;
  color: var(--white);
}

.DHR__NavBar-Social_Links > ul > li > a:hover {
  color: var(--yellow);
}

/* -- OnClick Navbar -- */
#DHR__NavBar-Bars_Top {
  width: 100%;
  height: 7px;
  background-color: var(--white);
  transition: 0.3s ease-in-out;
  animation: HundredPercentFull 4s;
  position: relative;
  top: 0rem;
}

#DHR__NavBar-Bars_Middle {
  width: 65%;
  height: 7px;
  background-color: var(--white);
  transition: 0.3s ease-in-out;
  animation: SixtyFivePercentFull 3s;
  position: relative;
}

#DHR__NavBar-Bars_Bottom {
  width: 100%;
  height: 7px;
  background-color: var(--white);
  transition: 0.3s ease-in-out;
  animation: HundredPercentFull 4s;
  position: relative;
  bottom: 0rem;
}

.DHR__NavBar-Bars:hover > #DHR__NavBar-Bars_Top,
.DHR__NavBar-Bars:hover > #DHR__NavBar-Bars_Middle,
.DHR__NavBar-Bars:hover > #DHR__NavBar-Bars_Bottom {
  background-color: var(--yellow);
}

#DHR__NavBar-OnClick {
  width: 0vw;
  height: 100vh;
  box-shadow: 0px 0px 0px 10px var(--white) inset;
  background-color: var(--blue);
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  word-wrap: normal;
  white-space: nowrap;
  transition: width 0.5s ease-in-out;
}

#DHR__NavBar-OnClick > ul > li {
  font-size: 3rem;
  list-style-type: none;
}

#DHR__NavBar-OnClick > ul > li a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

#DHR__NavBar-OnClick > ul > li a::before {
  content: "<";
  margin-left: 0rem;
  transition: margin-right 0.3s ease 0s;
}

#DHR__NavBar-OnClick > ul > li a::after {
  margin-left: 1rem;
  content: "/>";
  transition: margin-left 0.3s ease 0s;
}

#DHR__NavBar-OnClick > ul > li a:hover::before {
  margin-right: 1rem;
}

#DHR__NavBar-OnClick > ul > li a:hover::after {
  margin-left: 2rem;
}

#DHR__NavBar-OnClick > ul > li a:hover {
  color: var(--yellow);
}
