@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --blue: #1c344d;
  --yellow: #ffdb58;
  --white: #ffffff;
}

body {
  background-color: var(--blue);
  color: var(--white);
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
