@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #0e0c0d;
  --white: #ede9ec;
  --maroon: #372f33;
  --purple: #705c6b;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: var(--black);

  color: var(--white);

  flex-direction: row-;
}

body::-webkit-scrollbar {
  display: none;
}
